{{ define "Index" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Loja</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Macbook</th>
                <th>Pro 16 GB</th>
                <th>R$ 10.000</th>
                <th>2</th>
            </tr>
        </tbody>
    </table>
</body>
</html>
{{ end }}